*{
    box-sizing: border-box;
}
nav#menu{
 position: fixed;
 bottom: 0;
 left: 0;
 right: 0; 
 color: #EEEEEE;
 background: #242424;
 box-shadow: 0px -1px 0px 0px #666;
 display: flex;
 align-items: center;
 justify-content: space-around;
}
nav#menu a{
    display: flex;
    flex-flow: column;
}
nav#menu span{
    font-size: 0.6rem;
}
nav#menu i{
    font-size: 0.8rem;
}
#search{
    position: fixed;
    top: 0;
    left: 0;
    right: 0; 
    color: #EEEEEE;
    background: #242424;
    box-shadow: 0px 1px 0px 0px #666;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2px;
    z-index: 9999;
}
#search input{
    border-radius: 5px;
    border: none;
}
#main{
    padding-bottom: 30px;
    padding-top: 20px;
    padding-left: 3px;
    padding-right: 3px;
}
#main i{
    font-size: 2rem;
    align-self: center;
    margin: auto;
}
.list-group-item,
.setting-item{
    display: flex;
    justify-content: space-between;
    margin: 0px;
}
.list-group-item i,
.setting-item i{
   font-size: 1rem !important;
}